<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="CheckApp">
    @*<link rel="apple-touch-icon" href="images/icons/icon-152x152.png">*@

    <title>CheckApp - @ViewData["Title"]</title>

    <environment names="Development">
        <script src="~/js/service-worker.js" asp-append-version="false"></script>
        <script src="~/lib/webcomponentsjs/webcomponents.js" asp-append-version="false"></script>
        <script src="~/js/service-worker.js" asp-append-version="false"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <link rel="stylesheet" href="~/styles/site.css" />
        <link rel="manifest" href="/manifest.json">

        <!-- Because this project uses vulcanize this should be your only html import
        in this file. All other imports should go in elements.html -->
        <link rel="import" href="~/elements/elements.html" async>

        <!-- For shared styles, shared-styles.html import in elements.html -->
        @*<style is="custom-style" include="shared-styles"></style>*@
    </environment>
    <environment names="Staging,Production">
        <link rel="manifest" href="/manifest.json">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/styles/" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">


        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">


        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/service-worker.js" asp-append-version="false"></script>
    </environment>
</body>
</html>
