@{
    ViewData["Title"] = "Início";
}

<div style="display: -ms-flexbox; display: -webkit-flex; display: flex;-ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;">    
    <div style="display: inline-block;justify-content: center;width:440px;text-align: center;">
        <img src="~/images/ca_marca.png" style="clear: both;padding: 40px 40px 0 40px;"/>
        <span style="clear:both;display: inherit;font-size: 20px;color: #44546a; padding: 0 0 30px;">Saúde na palma da sua mão.</span>
        <a asp-action="Login" asp-controller="Account" style="text-decoration: none;">
            <paper-button raised style="background: #bc4625; color: #ffffff">Experimente</paper-button>
        </a>
    </div>
</div>